.paging {
  display: flex;
  justify-content: space-between;
}

span {
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
  color: lightgrey;
  padding: 3px 3px 1px;
  text-align: center;
  width: 15px;
}

span:hover {
  color: #5a86ac;
}

.selected-page {
  color: #5a86ac;
}
