span {
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
  color: lightgrey;
  padding: 3px 3px 1px;
  text-align: center;
}

span:hover {
  color: black;
}

.selected-page {
  color: darkgrey;
}
