<div class="filters-wrapper"
     [style.width]="areFiltersOpen ? '267px' : '0px'"
     [style.padding]="areFiltersOpen ? '10px' : '0'">
  <eav-address-filter class="filter"
                      [emails]="filter.emails"
                      (changeEmails)="onChangeEmails($event)"></eav-address-filter>
  <eav-date-filter class="filter"
                   [initDateFrom]="filter.dateFrom"
                   [initDateTo]="filter.dateTo"
                   (changeDateFrom)="onChangeDateFrom($event)"
                   (changeDateTo)="onChangeDateTo($event)"></eav-date-filter>
</div>
<div class="filters-vertical-header-wrapper"
     (click)="moveFilters()">
  <div class="filters-vertical-header">Filters</div>
</div>
