.main-wrapper {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  height: 100%;
}

.header {
  background-color: #5a86ac;
  color: #ffffff;
  height: 40px;
  padding-top: 10px;
  font-size: 20pt;
  text-align: center;
  flex: 0 0 auto;
}

.main {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
}

.footer {
  flex: 0 0 auto;
  height: 17px;
  font-size: 11px;
  padding-right: 10px;
  padding-top: 5px;
  background-color: whitesmoke;
  text-align: right;
}

.filter-panel {
  display: flex;
  flex: 0 0 auto;
  overflow: hidden;
  margin-top: 50px;
}

.letters-search-wrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  overflow: auto;
}

.spinner {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

.spinner-background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  opacity: 0.1;
  background-color: gray;
}

.spinner > img {
  margin: auto;
  height: 50px;
}
