.letter-head {
  margin-bottom: 5px;
  cursor: pointer;
}

.letter-subject {
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.letter-message > span {
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

span {
  margin-right: 5px;
}

.letter-to {
  overflow: visible;
  overflow-wrap: break-word;
}
