<div class="letter-head" (click)="toggleHideBody()"
     [style.border-bottom]="hideBody ? 'none' : '1px solid lightgrey'">
  <span><b>From:</b> {{_letter.from}}</span>
  <span class="letter-to"><b>To:</b> {{_letter.to.join(', ')}}</span>
  <span class="letter-to" *ngIf="_letter.cc.length > 0"><b>Cc:</b> {{_letter.cc.join(', ')}}</span>
  <span class="letter-to" *ngIf="_letter.bcc.length > 0"><b>Bcc:</b> {{_letter.bcc.join(', ')}}</span>
  <br/>
  <span><b>Subject: </b>
    <span class="letter-subject"
          innerHTML="{{_letter.subject | searchHighlight : searchText}}"></span>
  </span>
  <span><b>Date:</b> {{_letter.date | date : "EEEE, MMMM d, y, h:mm:ss a z"}}</span>
</div>
<div class="letter-message">
  <span *ngIf="!hideBody" innerHTML="{{message | searchHighlight : searchText}}"></span>
</div>
<div *ngIf="replyMessage !== '' && !hideBody">
  <eav-reply-letter [searchText]="searchText" [replyMessage]="replyMessage"></eav-reply-letter>
</div>
