.search-paging-bar {
  display: flex;
  justify-content: space-between;
  flex: 0 0 auto;
  height: 30px;
  padding: 10px 5px;
  align-items: center;
}

.text-search-wrapper {
  flex: 1 1 auto;
  margin-right: 20px;
  min-width: 200px;
}

.pagination-wrapper {
  flex: 0 0 auto;
  margin-right: 5px;
}

.letters-container {
  flex: 1 1 auto;
  overflow: auto;
  margin-right: 5px;
}

.letter {
  border: 1px solid lightgrey;
  margin: 5px;
  padding: 5px;
}

.letter > div > span {
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.letter-to {
  overflow: hidden;
  text-overflow: ellipsis;
}

.letter-to:hover {
  overflow: visible;
  overflow-wrap: break-word;
}
