<div class="filter-header">Filter by address:</div>
<input class="address-search" [(ngModel)]="addressSearch">
<div class="address-select">
  <label *ngFor="let address of addresses | addressFilter : addressSearch : showChecked">
    <input type="checkbox"
           value="{{address.value}}"
           [(ngModel)]="address.checked"
           (change)="onAddressesChange()">
    {{address.value}}
  </label>
</div>
<label class="show-checked">
  <input type="checkbox" [(ngModel)]="showChecked">
  show only selected addresses
</label>
