.filter-header {
  text-align: center;
  flex: 0 0 auto;
  height: 20px;
  margin-bottom: 5px;
}

.address-search {
  flex: 0 0 auto;
  cursor: auto;
  margin-bottom: 5px;
}

.address-select-filter {
  flex: 0 0 auto;;
  margin-bottom: 5px;
  display: flex;
}

.select-all-addresses {
  flex-grow: 1;
  cursor: pointer;
}

.address-select {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

label {
  font-size: 10pt;
  flex: 0 0 auto;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.address-label:hover {
  word-break: break-all;
}

input {
  cursor: pointer;
}

.show-checked {
  margin-top: 10px;
}
